--
-- PostgreSQL database dump
--

\restrict nhVYeg8npcVJfVCs65wvNRA4QImQdMHU61u9J5ErOvmvQRoWW4eDCstapQhWdmB

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: adhesion_groups; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.adhesion_groups (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    group_id uuid NOT NULL,
    statut character varying(255) NOT NULL,
    role character varying(255) NOT NULL,
    "joinedAt" timestamp(0) without time zone NOT NULL,
    "reviewedAt" timestamp(0) without time zone,
    "motifDecision" text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    auto_assigned boolean DEFAULT false NOT NULL,
    reviewed_by uuid,
    CONSTRAINT adhesion_groups_role_check CHECK (((role)::text = ANY ((ARRAY['Membre'::character varying, 'Moderateur'::character varying])::text[]))),
    CONSTRAINT adhesion_groups_statut_check CHECK (((statut)::text = ANY ((ARRAY['EnAttente'::character varying, 'Approuve'::character varying, 'Rejete'::character varying, 'Banni'::character varying])::text[])))
);


ALTER TABLE public.adhesion_groups OWNER TO ensias_user;

--
-- Name: annees; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.annees (
    id uuid NOT NULL,
    label character varying(5) NOT NULL,
    niveau smallint NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.annees OWNER TO ensias_user;

--
-- Name: cache; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.cache (
    key character varying(255) NOT NULL,
    value text NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache OWNER TO ensias_user;

--
-- Name: cache_locks; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.cache_locks (
    key character varying(255) NOT NULL,
    owner character varying(255) NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache_locks OWNER TO ensias_user;

--
-- Name: commentaires; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.commentaires (
    id uuid NOT NULL,
    contenu text NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.commentaires OWNER TO ensias_user;

--
-- Name: comments; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.comments (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    commentable_type character varying(255) NOT NULL,
    commentable_id uuid NOT NULL,
    parent_id bigint,
    content text NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    deleted_at timestamp(0) without time zone
);


ALTER TABLE public.comments OWNER TO ensias_user;

--
-- Name: comments_id_seq; Type: SEQUENCE; Schema: public; Owner: ensias_user
--

CREATE SEQUENCE public.comments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.comments_id_seq OWNER TO ensias_user;

--
-- Name: comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ensias_user
--

ALTER SEQUENCE public.comments_id_seq OWNED BY public.comments.id;


--
-- Name: device_events; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.device_events (
    id uuid NOT NULL,
    iot_device_id uuid NOT NULL,
    "timestamp" timestamp(0) without time zone NOT NULL,
    "valeurBrute" character varying(255) NOT NULL,
    "statutDerive" character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.device_events OWNER TO ensias_user;

--
-- Name: document_reviews; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.document_reviews (
    id uuid NOT NULL,
    document_id uuid NOT NULL,
    moderateur_id uuid NOT NULL,
    statut character varying(255) DEFAULT 'EnAttente'::character varying NOT NULL,
    "reviewedAt" timestamp(0) without time zone NOT NULL,
    motif text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT document_reviews_statut_check CHECK (((statut)::text = ANY ((ARRAY['EnAttente'::character varying, 'Valide'::character varying, 'Rejete'::character varying])::text[])))
);


ALTER TABLE public.document_reviews OWNER TO ensias_user;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.documents (
    id uuid NOT NULL,
    titre character varying(255) NOT NULL,
    nom character varying(255),
    format character varying(255),
    "urlStockage" character varying(255),
    "typeDocument" character varying(255) NOT NULL,
    "statutValidation" character varying(255) DEFAULT 'EnAttente'::character varying NOT NULL,
    uploader_id uuid,
    "publishedAt" timestamp(0) without time zone,
    downloads_count integer DEFAULT 0 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    gdrive_file_id character varying(255),
    mime_type character varying(255),
    preview_url text,
    download_url text,
    taille bigint,
    azure_path character varying(255),
    azure_url text,
    extension character varying(20),
    filiere_id uuid,
    views_count integer DEFAULT 0 NOT NULL,
    semester character varying(5),
    year smallint,
    element_module_id uuid,
    deleted_at timestamp(0) without time zone,
    CONSTRAINT "documents_statutValidation_check" CHECK ((("statutValidation")::text = ANY ((ARRAY['EnAttente'::character varying, 'Valide'::character varying, 'Rejete'::character varying])::text[]))),
    CONSTRAINT documents_typedocument_check CHECK ((("typeDocument")::text = ANY ((ARRAY['Cours'::character varying, 'TD/TP'::character varying, 'Anciens examens'::character varying, 'R├®sum├®'::character varying, 'Projet'::character varying, 'Autre'::character varying])::text[])))
);


ALTER TABLE public.documents OWNER TO ensias_user;

--
-- Name: element_modules; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.element_modules (
    id uuid NOT NULL,
    module_id uuid NOT NULL,
    nom character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.element_modules OWNER TO ensias_user;

--
-- Name: failed_jobs; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.failed_jobs (
    id bigint NOT NULL,
    uuid character varying(255) NOT NULL,
    connection text NOT NULL,
    queue text NOT NULL,
    payload text NOT NULL,
    exception text NOT NULL,
    failed_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.failed_jobs OWNER TO ensias_user;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: ensias_user
--

CREATE SEQUENCE public.failed_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.failed_jobs_id_seq OWNER TO ensias_user;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ensias_user
--

ALTER SEQUENCE public.failed_jobs_id_seq OWNED BY public.failed_jobs.id;


--
-- Name: filieres; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.filieres (
    id uuid NOT NULL,
    nom character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    code character varying(255),
    slug character varying(255),
    description character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    badge character varying(5),
    is_tronc_commun boolean DEFAULT false NOT NULL
);


ALTER TABLE public.filieres OWNER TO ensias_user;

--
-- Name: follows; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.follows (
    id bigint NOT NULL,
    follower_id uuid NOT NULL,
    following_id uuid NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.follows OWNER TO ensias_user;

--
-- Name: follows_id_seq; Type: SEQUENCE; Schema: public; Owner: ensias_user
--

CREATE SEQUENCE public.follows_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.follows_id_seq OWNER TO ensias_user;

--
-- Name: follows_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ensias_user
--

ALTER SEQUENCE public.follows_id_seq OWNED BY public.follows.id;


--
-- Name: groups; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.groups (
    id uuid NOT NULL,
    nom character varying(255) NOT NULL,
    categorie character varying(255) NOT NULL,
    description text NOT NULL,
    createur_id uuid NOT NULL,
    "creeLe" timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    slug character varying(255),
    filiere_key character varying(255),
    annee_filiere character varying(255),
    avatar_url character varying(255),
    cover_url character varying(255),
    instagram_handle character varying(255),
    instagram_url character varying(255),
    CONSTRAINT groups_categorie_check CHECK (((categorie)::text = ANY ((ARRAY['Filiere'::character varying, 'Club'::character varying, 'General'::character varying])::text[])))
);


ALTER TABLE public.groups OWNER TO ensias_user;

--
-- Name: interactions; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.interactions (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    publication_id uuid,
    type character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    reactable_type character varying(255),
    reactable_id uuid
);


ALTER TABLE public.interactions OWNER TO ensias_user;

--
-- Name: iot_devices; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.iot_devices (
    id uuid NOT NULL,
    laundry_machine_id uuid,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    "idMateriel" character varying(255) NOT NULL,
    emplacement character varying(255) NOT NULL,
    "statutActuel" boolean DEFAULT false NOT NULL,
    "typeCapteur" character varying(255) NOT NULL,
    CONSTRAINT "iot_devices_typeCapteur_check" CHECK ((("typeCapteur")::text = ANY ((ARRAY['Contact'::character varying, 'Vibration'::character varying])::text[])))
);


ALTER TABLE public.iot_devices OWNER TO ensias_user;

--
-- Name: job_batches; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.job_batches (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    total_jobs integer NOT NULL,
    pending_jobs integer NOT NULL,
    failed_jobs integer NOT NULL,
    failed_job_ids text NOT NULL,
    options text,
    cancelled_at integer,
    created_at integer NOT NULL,
    finished_at integer
);


ALTER TABLE public.job_batches OWNER TO ensias_user;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.jobs (
    id bigint NOT NULL,
    queue character varying(255) NOT NULL,
    payload text NOT NULL,
    attempts smallint NOT NULL,
    reserved_at integer,
    available_at integer NOT NULL,
    created_at integer NOT NULL
);


ALTER TABLE public.jobs OWNER TO ensias_user;

--
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: ensias_user
--

CREATE SEQUENCE public.jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.jobs_id_seq OWNER TO ensias_user;

--
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ensias_user
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- Name: laundry_machines; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.laundry_machines (
    id uuid NOT NULL,
    "numeroMachine" character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT laundry_machines_status_check CHECK (((status)::text = ANY ((ARRAY['Libre'::character varying, 'Occupee'::character varying, 'HorsService'::character varying])::text[]))),
    CONSTRAINT laundry_machines_type_check CHECK (((type)::text = ANY ((ARRAY['LaveLinge'::character varying, 'SecheLinge'::character varying])::text[])))
);


ALTER TABLE public.laundry_machines OWNER TO ensias_user;

--
-- Name: menu_items; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.menu_items (
    id uuid NOT NULL,
    "nomPlat" character varying(255) NOT NULL,
    categorie character varying(255) NOT NULL,
    "estDisponible" boolean DEFAULT true NOT NULL,
    prix double precision NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    description text,
    image_url character varying(255),
    preparation_time_minutes smallint DEFAULT '10'::smallint NOT NULL
);


ALTER TABLE public.menu_items OWNER TO ensias_user;

--
-- Name: migrations; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO ensias_user;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: ensias_user
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO ensias_user;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ensias_user
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: modules; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.modules (
    id uuid NOT NULL,
    filiere_id uuid NOT NULL,
    nom character varying(255) NOT NULL,
    semestre character varying(255) NOT NULL,
    annee integer,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    filiere_specifique character varying(255),
    slug character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    annee_id uuid
);


ALTER TABLE public.modules OWNER TO ensias_user;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.notifications (
    id uuid NOT NULL,
    type character varying(255) NOT NULL,
    data text NOT NULL,
    read_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    notifiable_type character varying(255) NOT NULL,
    notifiable_id uuid NOT NULL
);


ALTER TABLE public.notifications OWNER TO ensias_user;

--
-- Name: order_lines; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.order_lines (
    id uuid NOT NULL,
    order_id uuid NOT NULL,
    menu_item_id uuid NOT NULL,
    quantite integer NOT NULL,
    "prixUnitaire" double precision NOT NULL,
    "totalLigne" double precision NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    special_instructions text
);


ALTER TABLE public.order_lines OWNER TO ensias_user;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.orders (
    id uuid NOT NULL,
    "numeroCommande" character varying(255) NOT NULL,
    statut character varying(255) DEFAULT 'EnAttente'::character varying NOT NULL,
    "tempsAttenteEstime" integer,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    user_id uuid,
    total numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    notes text,
    CONSTRAINT orders_statut_check CHECK (((statut)::text = ANY ((ARRAY['EnAttente'::character varying, 'Confirme'::character varying, 'EnPreparation'::character varying, 'Prete'::character varying, 'Recuperee'::character varying, 'Annulee'::character varying])::text[])))
);


ALTER TABLE public.orders OWNER TO ensias_user;

--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.password_reset_tokens (
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp(0) without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO ensias_user;

--
-- Name: personal_access_tokens; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.personal_access_tokens (
    id bigint NOT NULL,
    tokenable_type character varying(255) NOT NULL,
    tokenable_id uuid NOT NULL,
    name text NOT NULL,
    token character varying(64) NOT NULL,
    abilities text,
    last_used_at timestamp(0) without time zone,
    expires_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.personal_access_tokens OWNER TO ensias_user;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: ensias_user
--

CREATE SEQUENCE public.personal_access_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.personal_access_tokens_id_seq OWNER TO ensias_user;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ensias_user
--

ALTER SEQUENCE public.personal_access_tokens_id_seq OWNED BY public.personal_access_tokens.id;


--
-- Name: pois; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.pois (
    id uuid NOT NULL,
    "nomLieu" character varying(255) NOT NULL,
    description text,
    categorie character varying(255) NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.pois OWNER TO ensias_user;

--
-- Name: post_media; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.post_media (
    id uuid NOT NULL,
    publication_id uuid NOT NULL,
    url text NOT NULL,
    type character varying(255) DEFAULT 'image'::character varying NOT NULL,
    thumbnail_url text,
    "order" integer DEFAULT 0 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT post_media_type_check CHECK (((type)::text = ANY ((ARRAY['image'::character varying, 'video'::character varying])::text[])))
);


ALTER TABLE public.post_media OWNER TO ensias_user;

--
-- Name: profile_activity; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.profile_activity (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    type character varying(255) NOT NULL,
    subject_type character varying(255),
    subject_id bigint,
    description character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT profile_activity_type_check CHECK (((type)::text = ANY ((ARRAY['post_created'::character varying, 'comment_added'::character varying, 'document_added'::character varying, 'club_joined'::character varying, 'project_added'::character varying, 'post_liked'::character varying])::text[])))
);


ALTER TABLE public.profile_activity OWNER TO ensias_user;

--
-- Name: profile_activity_id_seq; Type: SEQUENCE; Schema: public; Owner: ensias_user
--

CREATE SEQUENCE public.profile_activity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.profile_activity_id_seq OWNER TO ensias_user;

--
-- Name: profile_activity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ensias_user
--

ALTER SEQUENCE public.profile_activity_id_seq OWNED BY public.profile_activity.id;


--
-- Name: projects; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.projects (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    titre character varying(255) NOT NULL,
    description text,
    tech_stack json,
    github_url character varying(255),
    live_url character varying(255),
    image_url character varying(255),
    is_featured boolean DEFAULT false NOT NULL,
    status character varying(255) DEFAULT 'termin├®'::character varying NOT NULL,
    date_debut date,
    date_fin date,
    ordre integer DEFAULT 0 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT projects_status_check CHECK (((status)::text = ANY ((ARRAY['en_cours'::character varying, 'termin├®'::character varying, 'en_pause'::character varying])::text[])))
);


ALTER TABLE public.projects OWNER TO ensias_user;

--
-- Name: projects_id_seq; Type: SEQUENCE; Schema: public; Owner: ensias_user
--

CREATE SEQUENCE public.projects_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.projects_id_seq OWNER TO ensias_user;

--
-- Name: projects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ensias_user
--

ALTER SEQUENCE public.projects_id_seq OWNED BY public.projects.id;


--
-- Name: publication_reviews; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.publication_reviews (
    id uuid NOT NULL,
    publication_id uuid NOT NULL,
    moderateur_id uuid NOT NULL,
    statut character varying(255) DEFAULT 'EnAttente'::character varying NOT NULL,
    "reviewedAt" timestamp(0) without time zone NOT NULL,
    motif text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT publication_reviews_statut_check CHECK (((statut)::text = ANY ((ARRAY['EnAttente'::character varying, 'Valide'::character varying, 'Rejete'::character varying])::text[])))
);


ALTER TABLE public.publication_reviews OWNER TO ensias_user;

--
-- Name: publications; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.publications (
    id uuid NOT NULL,
    contenu text,
    "typeMedia" character varying(255),
    "statutValidation" character varying(255) DEFAULT 'EnAttente'::character varying NOT NULL,
    user_id uuid NOT NULL,
    groupe_id uuid,
    "publishedAt" timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    visibility character varying(255) DEFAULT 'global'::character varying NOT NULL,
    source character varying(255) DEFAULT 'manual'::character varying NOT NULL,
    instagram_url character varying(255),
    imported_at timestamp(0) without time zone,
    CONSTRAINT "publications_statutValidation_check" CHECK ((("statutValidation")::text = ANY ((ARRAY['EnAttente'::character varying, 'Valide'::character varying, 'Rejete'::character varying])::text[]))),
    CONSTRAINT publications_visibility_check CHECK (((visibility)::text = ANY ((ARRAY['global'::character varying, 'group'::character varying])::text[])))
);


ALTER TABLE public.publications OWNER TO ensias_user;

--
-- Name: reactions; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.reactions (
    id uuid NOT NULL,
    reaction character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.reactions OWNER TO ensias_user;

--
-- Name: reports; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.reports (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    reportable_type character varying(255) NOT NULL,
    reportable_id uuid NOT NULL,
    reason character varying(255) NOT NULL,
    details text,
    status character varying(255) DEFAULT 'pending'::character varying NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT reports_reason_check CHECK (((reason)::text = ANY ((ARRAY['spam'::character varying, 'inappropriate'::character varying, 'harassment'::character varying, 'misinformation'::character varying, 'other'::character varying])::text[]))),
    CONSTRAINT reports_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'reviewed'::character varying, 'dismissed'::character varying])::text[])))
);


ALTER TABLE public.reports OWNER TO ensias_user;

--
-- Name: reports_id_seq; Type: SEQUENCE; Schema: public; Owner: ensias_user
--

CREATE SEQUENCE public.reports_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.reports_id_seq OWNER TO ensias_user;

--
-- Name: reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ensias_user
--

ALTER SEQUENCE public.reports_id_seq OWNED BY public.reports.id;


--
-- Name: saved_items; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.saved_items (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    saveable_type character varying(255) NOT NULL,
    saveable_id uuid NOT NULL,
    collection character varying(255) DEFAULT 'default'::character varying NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.saved_items OWNER TO ensias_user;

--
-- Name: saved_items_id_seq; Type: SEQUENCE; Schema: public; Owner: ensias_user
--

CREATE SEQUENCE public.saved_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.saved_items_id_seq OWNER TO ensias_user;

--
-- Name: saved_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ensias_user
--

ALTER SEQUENCE public.saved_items_id_seq OWNED BY public.saved_items.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.sessions (
    id character varying(255) NOT NULL,
    user_id uuid,
    ip_address character varying(45),
    user_agent text,
    payload text NOT NULL,
    last_activity integer NOT NULL
);


ALTER TABLE public.sessions OWNER TO ensias_user;

--
-- Name: shares; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.shares (
    id bigint NOT NULL,
    user_id uuid NOT NULL,
    shareable_type character varying(255) NOT NULL,
    shareable_id uuid NOT NULL,
    channel character varying(255) DEFAULT 'link'::character varying NOT NULL,
    target_group_id uuid,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT shares_channel_check CHECK (((channel)::text = ANY ((ARRAY['internal'::character varying, 'link'::character varying, 'whatsapp'::character varying, 'other'::character varying])::text[])))
);


ALTER TABLE public.shares OWNER TO ensias_user;

--
-- Name: shares_id_seq; Type: SEQUENCE; Schema: public; Owner: ensias_user
--

CREATE SEQUENCE public.shares_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.shares_id_seq OWNER TO ensias_user;

--
-- Name: shares_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ensias_user
--

ALTER SEQUENCE public.shares_id_seq OWNED BY public.shares.id;


--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.user_roles (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    role character varying(255) NOT NULL,
    context_type character varying(255),
    context_id character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.user_roles OWNER TO ensias_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: ensias_user
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    "emailInstitutionnel" character varying(255) NOT NULL,
    nom character varying(255) NOT NULL,
    prenom character varying(255) NOT NULL,
    password character varying(255),
    provider character varying(255),
    provider_id character varying(255),
    "photoProfil" character varying(255),
    bio text,
    "profileActif" boolean DEFAULT true NOT NULL,
    roles json DEFAULT '["etudiant"]'::json NOT NULL,
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    filiere character varying(255),
    annee character varying(255),
    username character varying(255),
    avatar_url character varying(255),
    cover_url character varying(255),
    ville character varying(255),
    linkedin_url character varying(255),
    github_url character varying(255),
    website_url character varying(255),
    phone character varying(255),
    competences json,
    specialite character varying(255)
);


ALTER TABLE public.users OWNER TO ensias_user;

--
-- Name: comments id; Type: DEFAULT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.comments ALTER COLUMN id SET DEFAULT nextval('public.comments_id_seq'::regclass);


--
-- Name: failed_jobs id; Type: DEFAULT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.failed_jobs ALTER COLUMN id SET DEFAULT nextval('public.failed_jobs_id_seq'::regclass);


--
-- Name: follows id; Type: DEFAULT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.follows ALTER COLUMN id SET DEFAULT nextval('public.follows_id_seq'::regclass);


--
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: personal_access_tokens id; Type: DEFAULT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.personal_access_tokens ALTER COLUMN id SET DEFAULT nextval('public.personal_access_tokens_id_seq'::regclass);


--
-- Name: profile_activity id; Type: DEFAULT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.profile_activity ALTER COLUMN id SET DEFAULT nextval('public.profile_activity_id_seq'::regclass);


--
-- Name: projects id; Type: DEFAULT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.projects ALTER COLUMN id SET DEFAULT nextval('public.projects_id_seq'::regclass);


--
-- Name: reports id; Type: DEFAULT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.reports ALTER COLUMN id SET DEFAULT nextval('public.reports_id_seq'::regclass);


--
-- Name: saved_items id; Type: DEFAULT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.saved_items ALTER COLUMN id SET DEFAULT nextval('public.saved_items_id_seq'::regclass);


--
-- Name: shares id; Type: DEFAULT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.shares ALTER COLUMN id SET DEFAULT nextval('public.shares_id_seq'::regclass);


--
-- Data for Name: adhesion_groups; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Data for Name: annees; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.annees (id, label, niveau, created_at, updated_at) FROM stdin;
019e6f9c-022f-739d-be5d-23a28a8fece5	1A	1	2026-05-28 17:22:35	2026-05-28 17:22:35
019e6f9c-02e5-7117-80fb-12aeb90a05a1	2A	2	2026-05-28 17:22:35	2026-05-28 17:22:35
019e6f9c-02f1-7271-9409-43e64efb804e	3A	3	2026-05-28 17:22:35	2026-05-28 17:22:35
\.


--
-- Data for Name: cache; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.cache (key, value, expiration) FROM stdin;
ensias-hub-cache-b6acef44019525d772b11db20dfa886c:timer	i:1780487249;	1780487249
ensias-hub-cache-b6acef44019525d772b11db20dfa886c	i:1;	1780487249
\.


--
-- Data for Name: cache_locks; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.cache_locks (key, owner, expiration) FROM stdin;
\.


--
-- Data for Name: commentaires; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.commentaires (id, contenu, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.comments (id, user_id, commentable_type, commentable_id, parent_id, content, created_at, updated_at, deleted_at) FROM stdin;
1	019e6e1e-9a78-705f-b89c-b3a7476e6291	publications	effc2034-3b39-44d9-8857-617288680a52	\N	J'adore	2026-05-28 16:28:12	2026-05-28 16:28:12	\N
2	019e6e1e-9a78-705f-b89c-b3a7476e6291	publications	bdd0aef0-a859-46d2-a397-9b57ab72b198	\N	I'm very excited !!!	2026-05-29 09:37:54	2026-05-29 09:37:54	\N
3	019e6e1e-9a78-705f-b89c-b3a7476e6291	publications	bdd0aef0-a859-46d2-a397-9b57ab72b198	\N	upp	2026-05-29 09:38:27	2026-05-29 09:38:27	\N
\.


--
-- Data for Name: device_events; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.device_events (id, iot_device_id, "timestamp", "valeurBrute", "statutDerive", created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: document_reviews; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.document_reviews (id, document_id, moderateur_id, statut, "reviewedAt", motif, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Data for Name: element_modules; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Data for Name: failed_jobs; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.failed_jobs (id, uuid, connection, queue, payload, exception, failed_at) FROM stdin;
\.


--
-- Data for Name: filieres; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Data for Name: follows; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.follows (id, follower_id, following_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: groups; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Data for Name: interactions; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Data for Name: iot_devices; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.iot_devices (id, laundry_machine_id, created_at, updated_at, "idMateriel", emplacement, "statutActuel", "typeCapteur") FROM stdin;
\.


--
-- Data for Name: job_batches; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.job_batches (id, name, total_jobs, pending_jobs, failed_jobs, failed_job_ids, options, cancelled_at, created_at, finished_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.jobs (id, queue, payload, attempts, reserved_at, available_at, created_at) FROM stdin;
\.


--
-- Data for Name: laundry_machines; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.laundry_machines (id, "numeroMachine", type, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: menu_items; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Data for Name: modules; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Data for Name: order_lines; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.orders (id, "numeroCommande", statut, "tempsAttenteEstime", created_at, updated_at, user_id, total, notes) FROM stdin;
019e731e-0f7c-722d-baeb-d6d1dbdd88c6	CMD-8SYBB1KC	Recuperee	\N	2026-05-29 09:43:30	2026-05-29 09:44:55	019e6e1e-9a78-705f-b89c-b3a7476e6291	37.00	\N
019e84a4-a441-7224-b11c-3a2391610e07	CMD-QFSBGKYJ	Confirme	\N	2026-06-01 19:24:03	2026-06-01 19:24:59	019e6e1e-9a78-705f-b89c-b3a7476e6291	31.00	\N
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.password_reset_tokens (email, token, created_at) FROM stdin;
\.


--
-- Data for Name: personal_access_tokens; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Data for Name: pois; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.pois (id, "nomLieu", description, categorie, latitude, longitude, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: post_media; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Data for Name: profile_activity; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.profile_activity (id, user_id, type, subject_type, subject_id, description, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.projects (id, user_id, titre, description, tech_stack, github_url, live_url, image_url, is_featured, status, date_debut, date_fin, ordre, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: publication_reviews; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.publication_reviews (id, publication_id, moderateur_id, statut, "reviewedAt", motif, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: publications; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Data for Name: reactions; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.reactions (id, reaction, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.reports (id, user_id, reportable_type, reportable_id, reason, details, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: saved_items; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.saved_items (id, user_id, saveable_type, saveable_id, collection, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Data for Name: shares; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.shares (id, user_id, shareable_type, shareable_id, channel, target_group_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: ensias_user
--

COPY public.user_roles (id, user_id, role, context_type, context_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: ensias_user
--



--
-- Name: comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ensias_user
--

SELECT pg_catalog.setval('public.comments_id_seq', 3, true);


--
-- Name: failed_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ensias_user
--

SELECT pg_catalog.setval('public.failed_jobs_id_seq', 1, false);


--
-- Name: follows_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ensias_user
--

SELECT pg_catalog.setval('public.follows_id_seq', 1, false);


--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ensias_user
--

SELECT pg_catalog.setval('public.jobs_id_seq', 1, false);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ensias_user
--

SELECT pg_catalog.setval('public.migrations_id_seq', 50, true);


--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ensias_user
--

SELECT pg_catalog.setval('public.personal_access_tokens_id_seq', 24, true);


--
-- Name: profile_activity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ensias_user
--

SELECT pg_catalog.setval('public.profile_activity_id_seq', 1, false);


--
-- Name: projects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ensias_user
--

SELECT pg_catalog.setval('public.projects_id_seq', 1, false);


--
-- Name: reports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ensias_user
--

SELECT pg_catalog.setval('public.reports_id_seq', 1, false);


--
-- Name: saved_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ensias_user
--

SELECT pg_catalog.setval('public.saved_items_id_seq', 1, false);


--
-- Name: shares_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ensias_user
--

SELECT pg_catalog.setval('public.shares_id_seq', 1, false);


--
-- Name: adhesion_groups adhesion_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.adhesion_groups
    ADD CONSTRAINT adhesion_groups_pkey PRIMARY KEY (id);


--
-- Name: adhesion_groups adhesion_groups_user_id_group_id_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.adhesion_groups
    ADD CONSTRAINT adhesion_groups_user_id_group_id_unique UNIQUE (user_id, group_id);


--
-- Name: annees annees_label_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.annees
    ADD CONSTRAINT annees_label_unique UNIQUE (label);


--
-- Name: annees annees_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.annees
    ADD CONSTRAINT annees_pkey PRIMARY KEY (id);


--
-- Name: cache_locks cache_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.cache_locks
    ADD CONSTRAINT cache_locks_pkey PRIMARY KEY (key);


--
-- Name: cache cache_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.cache
    ADD CONSTRAINT cache_pkey PRIMARY KEY (key);


--
-- Name: commentaires commentaires_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.commentaires
    ADD CONSTRAINT commentaires_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: device_events device_events_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.device_events
    ADD CONSTRAINT device_events_pkey PRIMARY KEY (id);


--
-- Name: document_reviews document_reviews_document_id_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.document_reviews
    ADD CONSTRAINT document_reviews_document_id_unique UNIQUE (document_id);


--
-- Name: document_reviews document_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.document_reviews
    ADD CONSTRAINT document_reviews_pkey PRIMARY KEY (id);


--
-- Name: documents documents_gdrive_file_id_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_gdrive_file_id_unique UNIQUE (gdrive_file_id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: element_modules element_modules_module_id_slug_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.element_modules
    ADD CONSTRAINT element_modules_module_id_slug_unique UNIQUE (module_id, slug);


--
-- Name: element_modules element_modules_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.element_modules
    ADD CONSTRAINT element_modules_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_uuid_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_uuid_unique UNIQUE (uuid);


--
-- Name: filieres filieres_nom_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.filieres
    ADD CONSTRAINT filieres_nom_unique UNIQUE (nom);


--
-- Name: filieres filieres_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.filieres
    ADD CONSTRAINT filieres_pkey PRIMARY KEY (id);


--
-- Name: filieres filieres_slug_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.filieres
    ADD CONSTRAINT filieres_slug_unique UNIQUE (slug);


--
-- Name: follows follows_follower_id_following_id_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_follower_id_following_id_unique UNIQUE (follower_id, following_id);


--
-- Name: follows follows_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_pkey PRIMARY KEY (id);


--
-- Name: groups groups_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_pkey PRIMARY KEY (id);


--
-- Name: groups groups_slug_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_slug_unique UNIQUE (slug);


--
-- Name: interactions interactions_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.interactions
    ADD CONSTRAINT interactions_pkey PRIMARY KEY (id);


--
-- Name: iot_devices iot_devices_idmateriel_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.iot_devices
    ADD CONSTRAINT iot_devices_idmateriel_unique UNIQUE ("idMateriel");


--
-- Name: iot_devices iot_devices_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.iot_devices
    ADD CONSTRAINT iot_devices_pkey PRIMARY KEY (id);


--
-- Name: job_batches job_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.job_batches
    ADD CONSTRAINT job_batches_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: laundry_machines laundry_machines_numeromachine_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.laundry_machines
    ADD CONSTRAINT laundry_machines_numeromachine_unique UNIQUE ("numeroMachine");


--
-- Name: laundry_machines laundry_machines_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.laundry_machines
    ADD CONSTRAINT laundry_machines_pkey PRIMARY KEY (id);


--
-- Name: menu_items menu_items_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT menu_items_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: modules modules_filiere_id_nom_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_filiere_id_nom_unique UNIQUE (filiere_id, nom);


--
-- Name: modules modules_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: order_lines order_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.order_lines
    ADD CONSTRAINT order_lines_pkey PRIMARY KEY (id);


--
-- Name: orders orders_numerocommande_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_numerocommande_unique UNIQUE ("numeroCommande");


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (email);


--
-- Name: personal_access_tokens personal_access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens personal_access_tokens_token_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_token_unique UNIQUE (token);


--
-- Name: pois pois_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.pois
    ADD CONSTRAINT pois_pkey PRIMARY KEY (id);


--
-- Name: post_media post_media_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.post_media
    ADD CONSTRAINT post_media_pkey PRIMARY KEY (id);


--
-- Name: profile_activity profile_activity_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.profile_activity
    ADD CONSTRAINT profile_activity_pkey PRIMARY KEY (id);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (id);


--
-- Name: publication_reviews publication_reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.publication_reviews
    ADD CONSTRAINT publication_reviews_pkey PRIMARY KEY (id);


--
-- Name: publication_reviews publication_reviews_publication_id_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.publication_reviews
    ADD CONSTRAINT publication_reviews_publication_id_unique UNIQUE (publication_id);


--
-- Name: publications publications_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.publications
    ADD CONSTRAINT publications_pkey PRIMARY KEY (id);


--
-- Name: reactions reactions_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT reactions_pkey PRIMARY KEY (id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: saved_items saved_items_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.saved_items
    ADD CONSTRAINT saved_items_pkey PRIMARY KEY (id);


--
-- Name: saved_items saved_items_user_id_saveable_type_saveable_id_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.saved_items
    ADD CONSTRAINT saved_items_user_id_saveable_type_saveable_id_unique UNIQUE (user_id, saveable_type, saveable_id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: shares shares_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.shares
    ADD CONSTRAINT shares_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY (id);


--
-- Name: users users_emailinstitutionnel_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_emailinstitutionnel_unique UNIQUE ("emailInstitutionnel");


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_unique; Type: CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_unique UNIQUE (username);


--
-- Name: cache_expiration_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX cache_expiration_index ON public.cache USING btree (expiration);


--
-- Name: cache_locks_expiration_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX cache_locks_expiration_index ON public.cache_locks USING btree (expiration);


--
-- Name: comments_commentable_type_commentable_id_created_at_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX comments_commentable_type_commentable_id_created_at_index ON public.comments USING btree (commentable_type, commentable_id, created_at);


--
-- Name: documents_azure_path_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX documents_azure_path_index ON public.documents USING btree (azure_path);


--
-- Name: documents_element_module_id_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX documents_element_module_id_index ON public.documents USING btree (element_module_id);


--
-- Name: documents_element_type_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX documents_element_type_index ON public.documents USING btree (element_module_id, "typeDocument");


--
-- Name: documents_type_document_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX documents_type_document_index ON public.documents USING btree ("typeDocument");


--
-- Name: documents_uploader_id_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX documents_uploader_id_index ON public.documents USING btree (uploader_id);


--
-- Name: element_modules_module_id_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX element_modules_module_id_index ON public.element_modules USING btree (module_id);


--
-- Name: element_modules_slug_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX element_modules_slug_index ON public.element_modules USING btree (slug);


--
-- Name: interactions_reactable_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX interactions_reactable_index ON public.interactions USING btree (reactable_type, reactable_id);


--
-- Name: jobs_queue_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX jobs_queue_index ON public.jobs USING btree (queue);


--
-- Name: modules_annee_id_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX modules_annee_id_index ON public.modules USING btree (annee_id);


--
-- Name: modules_filiere_annee_semestre_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX modules_filiere_annee_semestre_index ON public.modules USING btree (filiere_id, annee_id, semestre);


--
-- Name: modules_filiere_id_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX modules_filiere_id_index ON public.modules USING btree (filiere_id);


--
-- Name: modules_semestre_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX modules_semestre_index ON public.modules USING btree (semestre);


--
-- Name: modules_slug_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX modules_slug_index ON public.modules USING btree (slug);


--
-- Name: notifications_notifiable_type_notifiable_id_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX notifications_notifiable_type_notifiable_id_index ON public.notifications USING btree (notifiable_type, notifiable_id);


--
-- Name: personal_access_tokens_expires_at_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX personal_access_tokens_expires_at_index ON public.personal_access_tokens USING btree (expires_at);


--
-- Name: personal_access_tokens_tokenable_type_tokenable_id_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX personal_access_tokens_tokenable_type_tokenable_id_index ON public.personal_access_tokens USING btree (tokenable_type, tokenable_id);


--
-- Name: profile_activity_subject_type_subject_id_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX profile_activity_subject_type_subject_id_index ON public.profile_activity USING btree (subject_type, subject_id);


--
-- Name: profile_activity_user_id_created_at_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX profile_activity_user_id_created_at_index ON public.profile_activity USING btree (user_id, created_at);


--
-- Name: reports_reportable_type_reportable_id_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX reports_reportable_type_reportable_id_index ON public.reports USING btree (reportable_type, reportable_id);


--
-- Name: sessions_last_activity_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX sessions_last_activity_index ON public.sessions USING btree (last_activity);


--
-- Name: sessions_user_id_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX sessions_user_id_index ON public.sessions USING btree (user_id);


--
-- Name: shares_shareable_type_shareable_id_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX shares_shareable_type_shareable_id_index ON public.shares USING btree (shareable_type, shareable_id);


--
-- Name: user_roles_user_id_role_context_type_context_id_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX user_roles_user_id_role_context_type_context_id_index ON public.user_roles USING btree (user_id, role, context_type, context_id);


--
-- Name: users_annee_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX users_annee_index ON public.users USING btree (annee);


--
-- Name: users_filiere_index; Type: INDEX; Schema: public; Owner: ensias_user
--

CREATE INDEX users_filiere_index ON public.users USING btree (filiere);


--
-- Name: adhesion_groups adhesion_groups_group_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.adhesion_groups
    ADD CONSTRAINT adhesion_groups_group_id_foreign FOREIGN KEY (group_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: adhesion_groups adhesion_groups_reviewed_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.adhesion_groups
    ADD CONSTRAINT adhesion_groups_reviewed_by_foreign FOREIGN KEY (reviewed_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: adhesion_groups adhesion_groups_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.adhesion_groups
    ADD CONSTRAINT adhesion_groups_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: commentaires commentaires_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.commentaires
    ADD CONSTRAINT commentaires_id_foreign FOREIGN KEY (id) REFERENCES public.interactions(id) ON DELETE CASCADE;


--
-- Name: comments comments_parent_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_parent_id_foreign FOREIGN KEY (parent_id) REFERENCES public.comments(id) ON DELETE CASCADE;


--
-- Name: comments comments_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: device_events device_events_iot_device_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.device_events
    ADD CONSTRAINT device_events_iot_device_id_foreign FOREIGN KEY (iot_device_id) REFERENCES public.iot_devices(id) ON DELETE CASCADE;


--
-- Name: document_reviews document_reviews_document_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.document_reviews
    ADD CONSTRAINT document_reviews_document_id_foreign FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: document_reviews document_reviews_moderateur_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.document_reviews
    ADD CONSTRAINT document_reviews_moderateur_id_foreign FOREIGN KEY (moderateur_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: documents documents_element_module_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_element_module_id_foreign FOREIGN KEY (element_module_id) REFERENCES public.element_modules(id) ON DELETE SET NULL;


--
-- Name: documents documents_filiere_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_filiere_id_foreign FOREIGN KEY (filiere_id) REFERENCES public.filieres(id) ON DELETE SET NULL;


--
-- Name: documents documents_uploader_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_uploader_id_foreign FOREIGN KEY (uploader_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: element_modules element_modules_module_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.element_modules
    ADD CONSTRAINT element_modules_module_id_foreign FOREIGN KEY (module_id) REFERENCES public.modules(id) ON DELETE CASCADE;


--
-- Name: follows follows_follower_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_follower_id_foreign FOREIGN KEY (follower_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: follows follows_following_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.follows
    ADD CONSTRAINT follows_following_id_foreign FOREIGN KEY (following_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: groups groups_createur_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_createur_id_foreign FOREIGN KEY (createur_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: interactions interactions_publication_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.interactions
    ADD CONSTRAINT interactions_publication_id_foreign FOREIGN KEY (publication_id) REFERENCES public.publications(id) ON DELETE CASCADE;


--
-- Name: interactions interactions_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.interactions
    ADD CONSTRAINT interactions_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: iot_devices iot_devices_laundry_machine_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.iot_devices
    ADD CONSTRAINT iot_devices_laundry_machine_id_foreign FOREIGN KEY (laundry_machine_id) REFERENCES public.laundry_machines(id) ON DELETE SET NULL;


--
-- Name: modules modules_annee_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_annee_id_foreign FOREIGN KEY (annee_id) REFERENCES public.annees(id) ON DELETE SET NULL;


--
-- Name: modules modules_filiere_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.modules
    ADD CONSTRAINT modules_filiere_id_foreign FOREIGN KEY (filiere_id) REFERENCES public.filieres(id) ON DELETE CASCADE;


--
-- Name: orders orders_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: post_media post_media_publication_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.post_media
    ADD CONSTRAINT post_media_publication_id_foreign FOREIGN KEY (publication_id) REFERENCES public.publications(id) ON DELETE CASCADE;


--
-- Name: profile_activity profile_activity_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.profile_activity
    ADD CONSTRAINT profile_activity_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: projects projects_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: publication_reviews publication_reviews_moderateur_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.publication_reviews
    ADD CONSTRAINT publication_reviews_moderateur_id_foreign FOREIGN KEY (moderateur_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: publication_reviews publication_reviews_publication_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.publication_reviews
    ADD CONSTRAINT publication_reviews_publication_id_foreign FOREIGN KEY (publication_id) REFERENCES public.publications(id) ON DELETE CASCADE;


--
-- Name: publications publications_groupe_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.publications
    ADD CONSTRAINT publications_groupe_id_foreign FOREIGN KEY (groupe_id) REFERENCES public.groups(id) ON DELETE CASCADE;


--
-- Name: publications publications_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.publications
    ADD CONSTRAINT publications_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: reactions reactions_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.reactions
    ADD CONSTRAINT reactions_id_foreign FOREIGN KEY (id) REFERENCES public.interactions(id) ON DELETE CASCADE;


--
-- Name: reports reports_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: saved_items saved_items_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.saved_items
    ADD CONSTRAINT saved_items_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: shares shares_target_group_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.shares
    ADD CONSTRAINT shares_target_group_id_foreign FOREIGN KEY (target_group_id) REFERENCES public.groups(id) ON DELETE SET NULL;


--
-- Name: shares shares_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.shares
    ADD CONSTRAINT shares_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_roles user_roles_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: ensias_user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict nhVYeg8npcVJfVCs65wvNRA4QImQdMHU61u9J5ErOvmvQRoWW4eDCstapQhWdmB

